.content-box {
    width: 100%;
    min-height: 320px;
}
.home__content {
    padding-left: 160px; 
    padding-right:160px; 
} 
@media print {
    @page {
        size: A4; 
    }
    .no-print {
        display: none !important; 
    }
    body {
        padding: 0; 
    } 
    .header-contact-print {     
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        page-break-before: auto;
        page-break-after: avoid; 
    }
    /* CHAT GPT */
    .print-container { 
        width: 210mm;       /* đúng chiều ngang A4 */
        margin: 0 auto;     /* căn giữa nếu có viền */
        box-shadow: none;   /* bỏ bóng khi in */
        border: none;       /* tùy ý */
    }
    .cv-section {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        page-break-after: auto;
    }

}
[contenteditable]:empty::before {
    content: attr(data-placeholder); /*Lay gia tri 1 thuoc tinh html'*/ 
    pointer-events: none; 
    color: '#9ca3af'; 
}
.ql-toolbar {
    position: absolute; 
    top: 0;  
    transform: translateY(-100%);
    right: 0; 
    display: none;
    padding: 0; 
    font-size: 16px;
    border: 0; 
    background-color: white;
    border: black; 
    outline: none; 
}
.ql-toolbar.ql-snow {
    border: none;
    box-shadow: none;  /* nếu còn shadow cũng loại bỏ */
    overflow: none; 
    min-width: 120px;
}
.ql-container .ql-snow {
    padding: 0 !important; 
}
.ql-editor {
    padding: 0 !important; 
    border-radius: 4px;
    display: inline-block;
    min-width: 12px;
}
.ql-editor:focus {
    background-color: #E5E7EB;
    color: black; 
}
.input__container:hover .input__icon {
    display: flex;
}
.ql-editor ul,
.ql-editor ol {
  padding-left: 0 !important;   /* hoặc 1em, tuỳ bạn */
  margin-left: 0;      /* bỏ margin mặc định của browser */
}
