.content-box {
    width: 100%;
    min-height: 320px;
}
.home__content {
    padding-left: 160px; 
    padding-right:160px; 
} 
@media print {
    @page {
        size: A4; 
        margin: 8mm 8mm 8mm 8mm; 
    }
    .no-print {
        display: none !important; 
    }
    body {
        padding: 0; 
    } 
    .break-inside-avoid { break-inside: avoid; page-break-inside: avoid; }

}
[contenteditable]:empty::before {
    content: attr(data-placeholder); /*Lay gia tri 1 thuoc tinh html'*/ 
    pointer-events: none; 
    color: '#9ca3af'; 
}
.ql-toolbar {
    position: absolute; 
    top: 0;  
    transform: translateY(-100%);
    right: 0; 
    display: none;
    padding: 0; 
    font-size: 16px;
    border: 0; 
    background-color: white;
    border: black; 
    outline: none; 
}
.ql-toolbar.ql-snow {
    border: none;
    box-shadow: none;  /* nếu còn shadow cũng loại bỏ */
    overflow: none; 
}
.ql-container .ql-snow {
    padding: 0 !important; 
}
.ql-editor {
    padding: 0 !important; 
    border-radius: 4px;
    display: inline-block; 
    max-width: 400px;
    min-width: 12px;
}
.ql-editor:focus {
    background-color: #E5E7EB;
}